---
import ProjectsListItem from "./ProjectsListItem.astro";

---

<section class="section project-sl">
    <ProjectsListItem/>
    <ProjectsListItem/>
    <ProjectsListItem/>
    <ProjectsListItem/>
    <ProjectsListItem/>
    <ProjectsListItem/>
    <ProjectsListItem/>
    <ProjectsListItem/>
</section>
