---
const {project} = Astro.props;
---

<div class="project-sl__single">
  <div class="thumb">
    <a href="/projects/example">
      <img src="assets/images/projects/hr-one.png" alt="Image" />
    </a>
  </div>
  <div class="content">
    <h2>
      <a href="/projects/example">
        mobile app
        <br />
         development
      </a>
    </h2>
  </div>
</div>
