---
import TeamListItem from "./TeamListItem.astro";
---

<section class="section team-m fade-wrapper">
  <div class="container">
    <div class="row gaper">
      <TeamListItem />
      <TeamListItem />
      <TeamListItem />
      <TeamListItem />
      <TeamListItem />
      <TeamListItem />
    </div>
    <div class="row">
      <div class="col-12">
        <div class="section__content-cta text-center">
          <button class="btn btn--secondary">Load More..</button>
        </div>
      </div>
    </div>
  </div>
</section>
