---
const {member} = Astro.props;
---

<div class="col-12 col-md-6 col-xl-4">
  <div class="team-m__single fade-top">
    <div class="thumb">
      <a href="/teams/example">
        <img src="assets/images/teams/one.png" alt="Image" />
      </a>
      <div class="thumb__content" data-background="assets/images/teams/bg.png">
        <div class="info">
          <p>“Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
        </div>
        <h4>
          <a href="/teams/example">Sana p. Lesh</a>
        </h4>
        <p>Senior engineer</p>
        <div class="social-alt">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="share us on facebook"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a
            href="https://www.twitter.com/"
            target="_blank"
            aria-label="share us on twitter"
          >
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a
            href="https://www.pinterest.com/"
            target="_blank"
            aria-label="share us on pinterest"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
