<!-- ==== banner start ==== -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="banner__content">
          <h1 class="text-uppercase text-start fw-9 mb-0 title-anim">
            We are
            <span class="text-stroke">creative</span>
            <span class="interval">
              <i class="icon-arrow-top-right"></i>
               digital agency
            </span>
          </h1>
          <div class="banner__content-inner">
            <p>
              We are a full-service website design, development and digital
              marketing company specializing in SEO, content marketing that
              grows brands.
            </p>
            <div class="cta section__content-cta">
              <div class="single">
                <h5 class="fw-7">12+</h5>
                <p class="fw-5">years of experience</p>
              </div>
              <div class="single">
                <h5 class="fw-7">25k</h5>
                <p class="fw-5">completed projects</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/images/banner/banner-one-thumb.png"
    alt="Image"
    class="banner-one-thumb d-none d-sm-block g-ban-one"
  />
  <img src="assets/images/star.png" alt="Image" class="star" />
  <div class="banner-left-text banner-social-text d-none d-md-flex">
    <a href="mailto:info@xpovio.com">mail : info@xpovio.com</a>
    <a href="tel:99-2158-003-6980">Call : +99 2158 003 6980</a>
  </div>
  <div class="banner-right-text banner-social-text d-none d-md-flex">
    <a href="https://www.instagram.com/" target="_blank"> instagram</a>
    <a href="https://www.pinterest.com/" target="_blank"> Linkedin</a>
    <a href="https://www.facebook.com/" target="_blank"> facebook</a>
  </div>
  <a
    class="video-frame video-btn"
    href="https://www.youtube.com/watch?v=RvreULjnzFo"
    target="_blank"
  >
    <img src="assets/images/video-frame.png" alt="Image" />
    <i class="fa-sharp fa-solid fa-play"></i>
  </a>
  <div class="lines d-none d-lg-flex">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</section>
<!-- ==== / banner end ==== -->
