---
import TeamMemberCard from "./TeamMemberCard.astro";
---

<section class="section team-slider-s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__header--secondary">
          <div class="row gaper align-items-center">
            <div class="col-12 col-lg-8">
              <div class="section__header text-center text-lg-start mb-0">
                <span class="sub-title">
                  our awesome crew
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
                <h2 class="title title-anim">our xpovio team members</h2>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="text-center text-lg-end">
                <a href="#" class="btn btn--primary text-capitalize"
                  >view all teams</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-r position-relative">
    <div class="team-s__slider">
      <TeamMemberCard
        fullName="Harley Davison"
        avatarURL="assets/images/teams/one.png"
        shortDescription="“Lorem ipsum dolor sit amet consectetur adipiscing elit"
        role="Senior engineer"
        description="Aenean sed fringilla purus, sed convallis sem. Morbi fringilla nulla tempus,cursus mauris in, placerat libero. Morbi tincidunt venenatis"
        skills={[
            {
                title: "Visual Design",
                percent: "75%"
            },
            {
                title: "UI/UX Design",
                percent: "90%"
            }
        ]}
      />
       <TeamMemberCard
        fullName="Harley Davison"
        avatarURL="assets/images/teams/one.png"
        shortDescription="“Lorem ipsum dolor sit amet consectetur adipiscing elit"
        role="Senior engineer"
        description="Aenean sed fringilla purus, sed convallis sem. Morbi fringilla nulla tempus,cursus mauris in, placerat libero. Morbi tincidunt venenatis"
        skills={[
            {
                title: "Visual Design",
                percent: "75%"
            },
            {
                title: "UI/UX Design",
                percent: "90%"
            }
        ]}
      />
       <TeamMemberCard
        fullName="Harley Davison"
        avatarURL="assets/images/teams/one.png"
        shortDescription="“Lorem ipsum dolor sit amet consectetur adipiscing elit"
        role="Senior engineer"
        description="Aenean sed fringilla purus, sed convallis sem. Morbi fringilla nulla tempus,cursus mauris in, placerat libero. Morbi tincidunt venenatis"
        skills={[
            {
                title: "Visual Design",
                percent: "75%"
            },
            {
                title: "UI/UX Design",
                percent: "90%"
            }
        ]}
      />
       <TeamMemberCard
        fullName="Harley Davison"
        avatarURL="assets/images/teams/one.png"
        shortDescription="“Lorem ipsum dolor sit amet consectetur adipiscing elit"
        role="Senior engineer"
        description="Aenean sed fringilla purus, sed convallis sem. Morbi fringilla nulla tempus,cursus mauris in, placerat libero. Morbi tincidunt venenatis"
        skills={[
            {
                title: "Visual Design",
                percent: "75%"
            },
            {
                title: "UI/UX Design",
                percent: "90%"
            }
        ]}
      />
       <TeamMemberCard
        fullName="Harley Davison"
        avatarURL="assets/images/teams/one.png"
        shortDescription="“Lorem ipsum dolor sit amet consectetur adipiscing elit"
        role="Senior engineer"
        description="Aenean sed fringilla purus, sed convallis sem. Morbi fringilla nulla tempus,cursus mauris in, placerat libero. Morbi tincidunt venenatis"
        skills={[
            {
                title: "Visual Design",
                percent: "75%"
            },
            {
                title: "UI/UX Design",
                percent: "90%"
            }
        ]}
      />
       <TeamMemberCard
        fullName="Harley Davison"
        avatarURL="assets/images/teams/one.png"
        shortDescription="“Lorem ipsum dolor sit amet consectetur adipiscing elit"
        role="Senior engineer"
        description="Aenean sed fringilla purus, sed convallis sem. Morbi fringilla nulla tempus,cursus mauris in, placerat libero. Morbi tincidunt venenatis"
        skills={[
            {
                title: "Visual Design",
                percent: "75%"
            },
            {
                title: "UI/UX Design",
                percent: "90%"
            }
        ]}
      />
       <TeamMemberCard
        fullName="Harley Davison"
        avatarURL="assets/images/teams/one.png"
        shortDescription="“Lorem ipsum dolor sit amet consectetur adipiscing elit"
        role="Senior engineer"
        description="Aenean sed fringilla purus, sed convallis sem. Morbi fringilla nulla tempus,cursus mauris in, placerat libero. Morbi tincidunt venenatis"
        skills={[
            {
                title: "Visual Design",
                percent: "75%"
            },
            {
                title: "UI/UX Design",
                percent: "90%"
            }
        ]}
      />
    </div>
    <div class="slide-group">
      <a
        href="javascript:void(0)"
        aria-label="previous item"
        class="slide-btn prev-team-s"
      >
        <i class="fa-light fa-angle-left"></i>
      </a>
      <a
        href="javascript:void(0)"
        aria-label="next item"
        class="slide-btn next-team-s"
      >
        <i class="fa-light fa-angle-right"></i>
      </a>
    </div>
  </div>
</section>
