---
import PageBanner from "@components/common/PageBanner.astro";
import WorkingProcessSection from "@components/common/WorkingProcessSection.astro";
import MainLayout from "@layouts/MainLayout.astro";

export const getStaticPaths = () => {
  return [{ params: { slug: "example" } }];
};

const { slug } = Astro.params;
---

<MainLayout title={"Example Service Detail"}>
  <PageBanner
    pageName={"Example Service Detail"}
    pageBreadcrumb={"Example Service Detail"}
    pageDescription="We're an UK-based top-notch design agency committed to partnering with good companies and hiring the right people for the right roles."
  />

  <!-- ==== project details start ==== -->
  <section class="section project-d">
    <div class="container">
      <div class="row gaper">
        <div class="col-12 col-lg-6">
          <div class="project-d-group">
            <h3 class="light-title-lg">Road Map Engineering</h3>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing
              hidden in the middle of text. All the Lorem Ipsum generators on
              the Internet tend to repeat predefined chunks as necessary,
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="project-d-group">
            <h3 class="light-title-lg">Project Includes</h3>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum.
            </p>
            <ul>
              <li>Geographical diversity, project complexity</li>
              <li>Whether building on land or over water</li>
              <li>Construction companies respond to the unique needs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="poster__slider-wrapper">
            <div class="poster__slider">
              <div class="poster__slider-single">
                <img src="assets/images/projects/poster.png" alt="Image" />
              </div>
              <div class="poster__slider-single">
                <img src="assets/images/projects/poster.png" alt="Image" />
              </div>
              <div class="poster__slider-single">
                <img src="assets/images/projects/poster.png" alt="Image" />
              </div>
              <div class="poster__slider-single">
                <img src="assets/images/projects/poster.png" alt="Image" />
              </div>
            </div>
            <div class="slide-group">
              <a
                href="javascript:void(0)"
                aria-label="previous item"
                class="slide-btn prev-project-d"
              >
                <i class="fa-light fa-angle-left"></i>
              </a>
              <a
                href="javascript:void(0)"
                aria-label="next item"
                class="slide-btn next-project-d"
              >
                <i class="fa-light fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row gaper fade-wrapper">
        <div class="col-12 col-sm-6 col-xl-4">
          <div class="project-d-o__single fade-top">
            <div class="content">
              <h5>Sectors</h5>
              <p>Roads & Highway</p>
            </div>
            <div class="thumb">
              <img src="assets/images/projects/icon-one.png" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4">
          <div class="project-d-o__single fade-top">
            <div class="content">
              <h5>Owner</h5>
              <p>Some Comapny</p>
            </div>
            <div class="thumb">
              <img src="assets/images/projects/icon-two.png" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4">
          <div class="project-d-o__single fade-top">
            <div class="content">
              <h5>Project Date</h5>
              <p>Start: 2021 - End: 2023</p>
            </div>
            <div class="thumb">
              <img src="assets/images/projects/icon-three.png" alt="Image" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="details-group text-start section__content-cta">
            <h3 class="light-title-lg">Project Description</h3>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing
              hidden in the middle of text. All the Lorem Ipsum generators on
              the Internet tend to repeat predefined chunks as necessary
              <p>
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem
                Ipsum, you need to be sure there isn't anything embarrassing
                hidden in the middle of text. All the Lorem Ipsum generators on
                the Internet tend to repeat predefined chunks as necessary,
              </p>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="quote-pj">
              <div class="cont">
                <div class="quote">
                  <i class="fa-solid fa-quote-right"></i>
                </div>
                <blockquote class="secondary-text">
                  And the day came when the risk to remain tight in a bud was
                  more painful than the risk it took to blossom.
                </blockquote>
              </div>
              <div class="author">
                <h4>- BILLI REUSS</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="details-group text-start section__content-cta">
              <h3 class="light-title-lg">The Result</h3>
              <p>
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even
                slightly believable. If you are going to use a passage of Lorem
                Ipsum, you need to be sure there isn't anything embarrassing
                hidden in the middle of text. All the Lorem Ipsum generators on
                the Internet tend to repeat predefined chunks as necessary
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable. If you are going to use a passage of
                  Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text. All the Lorem Ipsum
                  generators on the Internet tend to repeat predefined chunks as
                  necessary,
                </p>
              </p>
            </div>
          </div>
        </div>
        <div class="project-d__slider section__content-cta">
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-one.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-two.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-three.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-four.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-five.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-one.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-two.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-three.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-four.png" alt="Image" />
          </div>
          <div class="project-d__slider-single">
            <img src="assets/images/projects/d-five.png" alt="Image" />
          </div>
        </div>
      </div>
      <!-- ==== / project details end ==== -->
    </div>
  </section>
  <!-- ==== project details end ==== -->

  <WorkingProcessSection/>


</MainLayout>
