<section class="cta-s section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cta__wrapper" data-background="assets/images/cta-bg.png">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-9">
              <div class="section__header text-center">
                <h2 class="title title-anim">
                  Stay Ahead With Our Top Notch Digital Services
                </h2>
              </div>
              <div class="footer__single-form">
                <form action="#" method="post">
                  <div class="input-email">
                    <input
                      type="email"
                      name="subscribe-news"
                      id="subscribeNews"
                      placeholder="Enter Your Email"
                      required
                    />
                    <button type="submit" class="subscribe">
                      <i class="fa-sharp fa-solid fa-paper-plane"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <img
            src="assets/images/testimonial/star.png"
            alt="Image"
            class="star"
          />
          <img
            src="assets/images/testimonial/star.png"
            alt="Image"
            class="star-two"
          />
        </div>
      </div>
    </div>
  </div>
</section>
