<section class="cta-two section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div
          class="cta-two-wrapper bg-img"
          data-background="assets/images/cta-two-bg.png"
        >
          <div class="row gaper align-items-center">
            <div class="col-12 col-lg-8">
              <div class="cta-two__content">
                <span>Hello !</span>
                <h2 class="title-anim">ready to work with us?</h2>
                <h5>
                  <a href="tel:19-3265-003-420">call: +19 3265 003 420</a>
                </h5>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="text-start text-lg-end">
                <a href="contact-us.html" class="btn btn--tertiary">
                  start a project
                  <i class="fa-sharp fa-solid fa-arrow-up-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
