<footer class="footer section pb-0">
  <div class="container">
    <div class="row gaper">
      <div class="col-12 col-lg-5 col-xl-6">
        <div class="footer__single">
          <a href="index.html" class="logo">
            <img src="/assets/images/logo.png" alt="Image" />
          </a>
          <div class="footer__single-meta">
            <a
              href="https://www.google.com/maps/d/viewer?mid=1UZ57Drfs3SGrTgh6mrYjQktu6uY&hl=en_US&ll=18.672105000000013%2C105.68673800000003&z=17"
              target="_blank"
            >
              <i class="fa-sharp fa-solid fa-location-dot"></i>
               901 N Pitt Str., Suite 170 Alexandria, USA
            </a>
            <a href="tel:406-555-0120">
              <i class="fa-sharp fa-solid fa-phone-volume"></i>
               (406) 555-0120
            </a>
            <a href="mailto:info@xpovio.com">
              <i class="fa-sharp fa-solid fa-envelope"></i>
               info@xpovio.com
            </a>
          </div>
          <div class="footer__cta text-start">
            <a href="contact-us.html" class="btn btn--secondary"
              >book a call now</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2 col-xl-2">
        <div class="footer__single">
          <div class="footer__single-intro">
            <h5>discover</h5>
          </div>
          <div class="footer__single-content">
            <ul>
              <li>
                <a href="about-us.html">About Us</a>
              </li>
              <li>
                <a href="client-feedback.html">Award Winning</a>
              </li>
              <li>
                <a href="blog.html">News & Blog</a>
              </li>
              <li>
                <a href="contact-us.html">careers</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-xl-4">
        <div class="footer__single">
          <div class="footer__single-intro">
            <h5>Subscribe our newsletter</h5>
          </div>
          <div class="footer__single-content">
            <p>
              Welcome to our digital agency We specialize in helping business
              most like yours succeed online.
            </p>
            <div class="footer__single-form">
              <form action="#" method="post">
                <div class="input-email">
                  <input
                    type="email"
                    name="subscribe-news"
                    id="subscribeNews"
                    placeholder="Enter Your Email"
                    required
                  />
                  <button type="submit" class="subscribe">
                    <i class="fa-sharp fa-solid fa-paper-plane"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer__copyright">
          <div class="row align-items-center gaper">
            <div class="col-12 col-lg-8">
              <div class="footer__copyright-text text-center text-lg-start">
                <p>
                  Copyright &copy;
                  <span id="copyYear"></span>
                   Xpovio by
                  <a
                    href="https://themeforest.net/user/gramentheme/"
                    target="_blank">GramenTheme</a
                  >
                   . All Rights Reserved
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="social justify-content-center justify-content-lg-end">
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                  <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.pinterest.com/" target="_blank">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
