<!-- ==== scroll to top start ==== -->
<button class="progress-wrap" aria-label="scroll indicator" title="go to top">
  <span></span>
  <svg
    class="progress-circle svg-content"
    width="100%"
    height="100%"
    viewBox="-1 -1 102 102"
  >
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
  </svg>
</button>
<!-- ==== / scroll to top end ==== -->
 <!-- video modal -->
  <div class="vid-m">
    <div class="vid-c">
      <a
        href="javascript:void(0)"
        aria-label="close video popup"
        class="close-v"
      >
        <i class="fa-light fa-xmark-large"></i>
      </a>
      <video autoplay="autoplay" loop muted controls>
        <source
          src="https://gramentheme.com/html/xpovio/ltr/assets/images/popup-video.mp4"
          type="video/mp4"
        />
      </video>
      <h5>Hello</h5>
    </div>
  </div>
  <!-- video modal end -->
