<div class="sponsor section pb-0">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="sponsor__slider">
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/one.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/two.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/three.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/four.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/five.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/six.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/one.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/two.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/three.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/four.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/five.png" alt="Image" />
          </div>
          <div class="sponsor__slider-item">
            <img src="assets/images/sponsor/six.png" alt="Image" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lines d-none d-lg-flex">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
