<!-- ==== work steps start ==== -->
<section class="section work-steps work-alt fade-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__header--secondary">
          <div class="row gaper align-items-center">
            <div class="col-12 col-lg-5 col-xxl-5">
              <div class="section__header text-center text-lg-start mb-0">
                <span class="sub-title">
                  working steps
                  <i class="fa-solid fa-arrow-right"></i>
                </span>
                <h2 class="title title-anim">Our Work Process</h2>
              </div>
            </div>
            <div class="col-12 col-lg-7 col-xxl-5 offset-xxl-2">
              <div class="text-center text-lg-start">
                <p>
                  Bring to the table win-win survival strategies to ensure
                  proactive domination. At the end of the day, going forward, a
                  new normal that has evolved from generation on the runway
                  heading towards
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="work-steps__single fade-top">
          <span>
            25
            <br />
             %
          </span>
          <h5>Discover & Strategy.</h5>
          <div
            class="work-thumb-hover d-none d-md-block"
            data-background=""
          >
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div
          class="work-steps__single work-two work-steps__single-active fade-top"
        >
          <span>
            50
            <br />
             %
          </span>
          <h5>Wireframes & User-flows</h5>
          <div
            class="work-thumb-hover d-none d-md-block"
            data-background=""
          >
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="work-steps__single work-three fade-top">
          <span>
            75
            <br />
             %
          </span>
          <h5>Hi-Fidelity design</h5>
          <div
            class="work-thumb-hover d-none d-md-block"
            data-background=""
          >
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="work-steps__single work-four fade-top">
          <span>
            100
            <br />
             %
          </span>
          <h5>Development Phase</h5>
          <div
            class="work-thumb-hover d-none d-md-block"
            data-background=""
          >
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="video-frame video-btn d-none d-md-flex"
    href="https://www.youtube.com/watch?v=RvreULjnzFo"
    target="_blank"
  >
    <img src="assets/images/video-frame.png" alt="Image" />
    <i class="fa-sharp fa-solid fa-play"></i>
  </a>
</section>
<!-- ==== / work steps end ==== -->
