---
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import ScrollToTop from "../components/common/ScrollToTop.astro";
const { title } = Astro.props;

// import js
---

<!doctype html>
<html lang="en">
  <head>
    <!-- required meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #favicon -->
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.png"
      type="image/x-icon"
    />
    <!-- #title -->
    <title>{title}</title>
    <!-- #keywords -->
    <meta name="keywords" content="creative, agency, portfolio" />
    <!-- #description -->
    <meta
      name="description"
      content="Creative Agency Portfolio HTML5 Template"
    />
    <!-- ==== css dependencies start ==== -->
    <!-- bootstrap five css -->
    <link
      rel="stylesheet"
      is:raw
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!-- glyphter css -->
    <link
      rel="stylesheet"
      is:raw
      href="/assets/vendor/glyyphter/css/xpovio.css"
    />
    <!-- font awesome six css -->
    <link
      rel="stylesheet"
      is:raw
      href="/assets/vendor/font-awesome/css/all.css"
    />
    <!-- nice select css -->
    <link
      rel="stylesheet"
      is:raw
      href="/assets/vendor/nice-select/css/nice-select.css"
    />
    <!-- magnific popup css -->
    <link
      rel="stylesheet"
      is:raw
      href="/assets/vendor/magnific-popup/css/magnific-popup.css"
    />
    <!-- slick css -->
    <link rel="stylesheet" is:raw href="/assets/vendor/slick/css/slick.css" />
    <!-- ==== / css dependencies end ==== -->
    <!-- main css -->
    <link rel="stylesheet" is:raw href="/assets/css/main.min.css" />
  </head>

  <body>
    <div class="my-app">
      <!-- ==== preloader start ==== -->
      <div id="preloader">
        <div id="loader"></div>
      </div>
      <!-- ==== / preloader end ==== -->
      <!-- ==== mouse cursor drag start ==== -->
      <div class="mouseCursor cursor-outer"></div>
      <div class="mouseCursor cursor-inner">
        <span>Drag</span>
      </div>
      <!-- ==== / mouse cursor drag end ==== -->

      <!-- ==== / Header start ==== -->
      <Header />
      <!-- ==== / Header end ==== -->

      <div id="smooth-wrapper">
        <div id="smooth-content">
          <!-- ==== main start ==== -->
          <main>
            <!-- ==== / slot start ==== -->
            <slot />
            <!-- ==== / slot end ==== -->
          </main>
          <!-- ==== main end ==== -->
          
          <!-- ==== / Footer start ==== -->
          <Footer/>
          <!-- ==== / Footer end ==== -->
        </div>
      </div>
      

      <!-- ==== / Scroll top start ==== -->
      <ScrollToTop />

      <!-- ==== / Scroll top end ==== -->

    </div>

    <js>
      <!-- ==== js dependencies start ==== -->
      <!-- jquery -->
      <script is:inline src="/assets/vendor/jquery/jquery-3.7.0.min.js"
      ></script>
      <!-- bootstrap five js -->
      <script
        is:inline
        src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- nice select js -->
      <script
        is:inline
        src="/assets/vendor/nice-select/js/jquery.nice-select.min.js"></script>
      <!-- magnific popup js -->
      <script
        is:inline
        src="/assets/vendor/magnific-popup/js/jquery.magnific-popup.min.js"
      ></script>
      <!-- slick js -->
      <script is:inline src="/assets/vendor/slick/js/slick.min.js"></script>
      <!-- image loaded js -->
      <script
        is:inline
        src="/assets/vendor/images-loaded/imagesloaded.pkgd.min.js"></script>
      <!-- isotope js -->
      <script is:inline src="/assets/vendor/isotope/isotope.pkgd.min.js"
      ></script>
      <!-- chroma js -->
      <script is:inline src="/assets/vendor/gsap/chroma.min.js"></script>
      <!-- splittext js -->
      <script is:inline src="/assets/vendor/gsap/SplitText.min.js"></script>
      <!-- scrollsmoother js -->
      <script is:inline src="/assets/vendor/gsap/ScrollSmoother.min.js"
      ></script>
      <!-- scrollto js -->
      <script is:inline src="/assets/vendor/gsap/ScrollToPlugin.min.js"
      ></script>
      <!-- scrolltrigger js -->
      <script is:inline src="/assets/vendor/gsap/ScrollTrigger.min.js"></script>
      <!-- gsap js -->
      <script is:inline src="/assets/vendor/gsap/gsap.min.js"></script>
      <!-- vanilla tilt js -->
      <script is:inline src="/assets/vendor/vanilla-tilt/tilt.jquery.js"
      ></script>
      <!-- ==== / js dependencies end ==== -->
      <!-- plugins js -->
      <script is:inline src="/assets/js/plugins.js"></script>
      <!-- main js -->
      <script is:inline src="/assets/js/main.js"></script>
    </js>
  </body>
</html>
